* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fffaf0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 27rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.card .content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 0;
}

.card .content p {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 30px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  background: #ffc0cb;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 0.5s linear;
}
.card:hover:before {
  bottom: 0;
}

.card .content {
  position: relative;
  text-transform: capitalize;
  z-index: 2;
  transition: 0.6s;
  color: #a6a6a6;
}

.card:hover .content {
  color: #f7faf8;
}
