* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fffaf0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.card {
  width: 30rem;
  height: 35rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  align-items: center;
  position: relative;
}
.card .font1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .font2 {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
.card .font3 {
  background: #e21414;
  transition: 0.5s;
}
.card .font3 h2 {
  font-size: 5rem;
  color: black;
  transform: 0.3s;
}
.card:hover .font3 {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #e21414;
  transform: translateX(-50%);
  top: 4rem;
  left: 50%;
  padding: 5px;
  background: transparent;
}
.card:hover .font3 h2 {
  font-size: 2.5rem;
}
