@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  height: 100vh;
  background: rgb(121, 255, 246);
  background: linear-gradient(
    294deg,
    rgba(121, 255, 246, 1) 50%,
    rgba(246, 102, 233, 1) 50%
  );
}

.container h1 {
  font-size: 10rem;
  -webkit-text-stroke: 1px #000;
  color: transparent;
  background: linear-gradient(#000, #000);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-position: -70rem;
  animation: fill 5s linear infinite alternate;
}

@keyframes fill {
  100% {
    background-position: 0 0;
  }
}
