@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #000;
}

a {
  text-transform: uppercase;
  font-size: 1.9rem;
  color: #00aeff;
  /* width: 20rem;
  height: 4rem; */
  text-align: center;
  /* border: 1px solid #f6b93b; */
  transition: all 1s;
  border: 1px solid #00aeff;
  padding: 0.5rem 0.7rem;
  position: relative;
  letter-spacing: 5px;
  overflow: hidden;

  /* background: #15a73c; */
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00aeff;
  left: 0;
  transition: all 1.5s;
  top: calc(100% + 22px);
  z-index: -1;
}

.wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: wavy 0.5s linear infinite;
}
a:hover {
  color: aliceblue;
}
a:hover .wave {
  top: 0;
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 120px;
  }
}
