* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #98eeeb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  transition: all 0.4s linear;
}
/* 
Design  a div of five boxes  using flexbox and his property
 */
.boxes {
  /* outline: 1px solid #0000ff; */
  width: 80%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
/* 
style a the 5 boxes 
 */
.boxes .box {
  /* outline: 1px solid red; */
  width: 3rem;
  height: 3rem;
  background: rgb(35, 12, 212);
  opacity: 1;
  transition: all 0.3s;
}
/* 
*now come the Important part box which one i hover only glow this one rest of the opacity 0.4 using ***** > :not(:hover) **** this css property
one thing it works on container of parent box not children boxes thats why i use *** .boxes:hover *** not .box
*/
.boxes:hover > :not(:hover) {
  opacity: 0.4;
}
