/* Apply border-box sizing to all elements */
* {
  box-sizing: border-box;
}

/* Styles for the body */
body {
  background-color: #000000; /* Background color */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Viewport height */
  overflow: hidden; /* Hide overflow */
  margin: 0; /* Remove margin */
}

/* Styles for the kinetic shape */
.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

/* Pseudo-elements to create the kinetic effect */
.kinetic::after,
.kinetic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5rem solid transparent; /* Border for creating a triangle */
  border-bottom-color: #f82929; /* Color for the bottom border */
  animation: rotateA 2s linear infinite 0.5s; /* Animation for rotation */
}

/* Adjust rotation for the pseudo-element ::before */
.kinetic::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite; /* Animation for rotation */
}

/* Keyframes for rotating the pseudo-element ::after */
@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes for rotating the pseudo-element ::before */
@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
